In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None  # default='warn'
import os
from modules.TravelSurveyAnalysis import TravelSurveyAnalysis

if 'TravelSurvey' in os.getcwd():
    data_folder = '../../data/'
elif 'data_analysis' in os.getcwd():
    data_folder = '../data/'
else:
    data_folder = './data/'

source_folder_path = data_folder + 'OD/OD_2017/'
destination_folder_path = data_folder + 'OD/OD_2017/'

In [2]:
expansion_factor_trip = 'FE_VIA'
expansion_factor_person = 'FE_PESS'

tsa = TravelSurveyAnalysis(source_folder_path, destination_folder_path,
                           expansion_factor_trip, expansion_factor_person)

In [3]:
filename = 'OD_2017_v1.csv'

data = tsa.read_data(filename)

## Column TIPVG ('Tipo de Viagem') versus MODOPRIN (Modo principal)

In [4]:
column_trip_type = 'TIPVG'
column_main_mode = 'MODOPRIN'

In [5]:
data[column_trip_type].unique()

array([ 3.,  1.,  2., nan,  4.])

In [6]:
data[column_main_mode].unique()

array([16.,  1., 12., nan,  4.,  9.,  7., 11., 10.,  8., 17.,  2., 13.,
       15., 14.,  6.,  5.,  3.])

In [7]:
# OD 2007
# mode_index_map = {1: '01 - Ônibus Município S.Paulo', 2: '02 - Ônibus outros Municípios',
#                   3: '03 - Ônibus Metropolitano', 4: '04 - Ônibus Fretado',
#                   5: '05 - Escolar', 6: '06 - Dirigindo Automóvel', 7: '07 - Passageiro de Automóvel',
#                   8: '08 - Táxi', 9: '09 - Microônibus/Van Município de S.Paulo', 10: '10 - Microônibus/Van outros Município',
#                   11: '11 - Microônibus/Van Metropolitano', 12: '12 - Metrô', 13: '13 - Trem', 14: '14 - Moto', 15: '15 - Bicicleta',
#                   16: '16 - A pé', 17: '17 - Outros'}

In [8]:
# collective_filter = ['01 - Ônibus Município S.Paulo', '02 - Ônibus outros Municípios',
#                     '03 - Ônibus Metropolitano', '04 - Ônibus Fretado',
#                     '05 - Escolar', '09 - Microônibus/Van Município de S.Paulo', '10 - Microônibus/Van outros Município',
#                     '12 - Metrô', '13 - Trem']

# individual_filter = ['06 - Dirigindo Automóvel', '07 - Passageiro de Automóvel', '08 - Táxi',  '14 - Moto']
# bike_filter = ['15 - Bicicleta']
# walk_filter = ['16 - A pé']
# other_filter = ['17 - Outros']

In [ ]:
# OD 1997
# collective_filter = ['01 - Ônibus', '02 - Ônibus Fretado', '03 - Transporte Escolar',
#                     '06 - Ônibus/micro-ônibus/perua metropolitano',
#                     '07 - Lotação/Perua', '08 - Metrô', '09 - Trem']

# individual_filter = ['04 - Dirigindo Automóvel', '05 - Passageiro de Automóvel',
#                     '06 - Táxi', '10 - Moto', '13 - Outros']
# walk_filter = ['12 - A Pé']
# bike_filter = ['11 - Bicicleta']

In [9]:
# OD 2017
mode_index_map = {1: '01 - Metrô', 2: '02 - Trem', 3:'03 - Monotrilho',4:'04 - Ônibus/micro-ônibus/perua do município de São Paulo',
                  5:'05 - Ônibus/micro-ônibus/perua de outros municípios',6: '06 - Ônibus/micro-ônibus/perua metropolitano',
                  7:'07 - Transporte Fretado',8:'08 - Transporte Escolar',9:'09 - Dirigindo Automóvel',10:'10 - Passageiro de Automóvel',
                  11: '11 - Táxi Convencional',12:'12 - Táxi não Convencional', 13: '13 - Dirigindo Moto', 14: '14 - Passageiro de Moto',
                  15: '15 - Bicicleta', 16: '16 - A Pé', 17: '17 - Outros'}

In [10]:
# df = tsa.calculate_distribution(data, column_trip_type, expansion_factor_trip, type_index_map)
df = tsa.calculate_distribution(data, column_main_mode, False, mode_index_map)
df

                                                    MODOPRIN_new
16 - A Pé                                              30.561674
09 - Dirigindo Automóvel                               23.422072
04 - Ônibus/micro-ônibus/perua do município de ...     11.780343
01 - Metrô                                              8.909945
10 - Passageiro de Automóvel                            8.423211
08 - Transporte Escolar                                 4.090713
05 - Ônibus/micro-ônibus/perua de outros municí...      3.522330
13 - Dirigindo Moto                                     1.927313
02 - Trem                                               1.851993
06 - Ônibus/micro-ônibus/perua metropolitano            1.769077
12 - Táxi não Convencional                              1.476657
15 - Bicicleta                                          0.819029
11 - Táxi Convencional                                  0.579776
07 - Transporte Fretado                                 0.441795
17 - Outros                                             0.250013
14 - Passageiro de Moto                                 0.173427
03 - Monotrilho                                         0.000633

In [16]:
collective_filter = ['01 - Metrô', '02 - Trem',
                    '03 - Monotrilho', '04 - Ônibus/micro-ônibus/perua do município de São Paulo',
                    '05 - Ônibus/micro-ônibus/perua de outros municípios', '06 - Ônibus/micro-ônibus/perua metropolitano',
                    '07 - Transporte Fretado', '08 - Transporte Escolar']

individual_filter = ['09 - Dirigindo Automóvel', '10 - Passageiro de Automóvel', '11 - Táxi Convencional',  '12 - Táxi não Convencional',
                     '13 - Dirigindo Moto', '14 - Passageiro de Moto']
bike_filter = ['15 - Bicicleta']
walk_filter = ['16 - A Pé']
other_filter = ['17 - Outros']

In [24]:
type_index_map = {1: 'Collective', 2: 'Individual', 3: 'On foot', 4: 'Bicycle'}
# df = tsa.calculate_distribution(data, column_trip_type, expansion_factor_trip, type_index_map)
tsa.calculate_distribution(data, column_trip_type, False, type_index_map)

            TIPVG_new
Individual  36.252468
Collective  32.366829
On foot     30.561674
Bicycle      0.819029

In [17]:
df.loc[collective_filter].sum()

MODOPRIN_new    32.366829
dtype: float64

In [18]:
df.loc[individual_filter].sum()

MODOPRIN_new    36.002456
dtype: float64

In [23]:
df.loc[individual_filter].sum() + df.loc[other_filter].sum()

MODOPRIN_new    36.252468
dtype: float64

In [21]:
df.loc[bike_filter].sum()

MODOPRIN_new    0.819029
dtype: float64

In [22]:
df.loc[other_filter].sum()

MODOPRIN_new    0.250013
dtype: float64