# Taking a look at the data

In [15]:
import pandas as pd
import os

if 'multimodal' in os.getcwd():
    data_folder = '../../data/'
elif 'data_analysis' in os.getcwd():
    data_folder = '../data/'
else:
    data_folder = './data/'

source_folder_path = data_folder + 'ciclocidade_research/multimodal/'
destination_folder_path = data_folder + 'ciclocidade_research/multimodal/'

In [16]:
filename = 'CPTM_AD2017_BaseRevisada.csv'
data = pd.read_csv(source_folder_path + filename)

In [17]:
data

,NumReg,DataHoraPesq,Linha,EstacaoOrigem,Sentido,UsoPorSemana,ModoOrigem,LinhaOnibusOrigem,TipoOnibusAcesso,GrupoOnibusAcesso,...,EstacaoOrigemSP,EstacaoDestinoSP,Lat_EstacaoOrigem,Long_EstacaoOrigem,Lat_EstacaoDestino,Long_EstacaoDestino,LatTableau_EstacaoOrigem,LongTableau_EstacaoOrigem,LatTableau_EstacaoDestino,LongTableau_EstacaoDestino
0,1,2017-09-22 14:17:50,10,Tamanduateí,BC,7,Metrô,,NaN,NaN,...,Em São Paulo,Em São Paulo,-23.592753,-46.589416,-23.542318,-46.415611,"-23,592753","-46,589416","-23,542318","-46,415611"
1,2,2017-09-22 14:23:43,10,Tamanduateí,BC,5,Metrô,NaN,NaN,NaN,...,Em São Paulo,Fora de São Paulo,-23.592753,-46.589416,-23.531877,-46.531005,"-23,592753","-46,589416","-23,531877","-46,531005"
2,3,2017-09-22 14:32:08,10,Tamanduateí,BC,6,Metrô,NaN,NaN,NaN,...,Em São Paulo,Fora de São Paulo,-23.592753,-46.589416,-23.546476,-46.607540,"-23,592753","-46,589416","-23,546476","-46,607540"
3,4,2017-09-22 14:46:43,10,Tamanduateí,BC,5,Metrô,NaN,NaN,NaN,...,Em São Paulo,Em São Paulo,-23.592753,-46.589416,-23.558066,-46.608352,"-23,592753","-46,589416","-23,558066","-46,608352"
4,5,2017-09-22 14:52:07,10,Tamanduateí,BC,6,Metrô,NaN,NaN,NaN,...,Em São Paulo,Fora de São Paulo,-23.592753,-46.589416,-23.281684,-46.742544,"-23,592753","-46,589416","-23,281684","-46,742544"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16866,16945,2017-12-12 07:25:23,11,Dom Bosco,CB,5,Carro (Condutor),NaN,NaN,NaN,...,Em São Paulo,Fora de São Paulo,-23.542572,-46.445766,-23.540750,-46.368269,"-23,542572","-46,445766","-23,540750","-46,368269"
16867,16946,2017-12-12 08:01:49,11,Dom Bosco,CB,6,Ônibus,Dom Bosco,Municipal - São Paulo,Municipal,...,Em São Paulo,Em São Paulo,-23.542572,-46.445766,-23.542318,-46.415611,"-23,542572","-46,445766","-23,542318","-46,415611"
16868,16947,2017-12-12 08:12:29,11,Dom Bosco,CB,5,Ônibus,354M - Term. São Miguel,Municipal - São Paulo,Municipal,...,Em São Paulo,Fora de São Paulo,-23.542572,-46.445766,-23.533975,-46.308034,"-23,542572","-46,445766","-23,533975","-46,308034"
16869,16948,2017-12-13 06:54:45,8,Antônio João,CB,5,Carro/Motocicleta (Carona),NaN,NaN,NaN,...,Fora de São Paulo,Fora de São Paulo,-23.516831,-46.858901,-23.527706,-46.902379,"-23,516831","-46,858901","-23,527706","-46,902379"
16870,16949,2017-12-13 06:59:49,8,Antônio João,CB,5,A pé,NaN,NaN,NaN,...,Fora de São Paulo,Fora de São Paulo,-23.516831,-46.858901,-23.527706,-46.902379,"-23,516831","-46,858901","-23,527706","-46,902379"

In [19]:
data.describe()

,NumReg,Linha,UsoPorSemana,TempoOrigem,TempoEsperaEstacao,TempoEmTrilhos,TempoDestino,TempoTotalViagem,Idade,Banheiro,...,LavaRoupa,DVD,Microondas,Motocicleta,Secad_Roupa,LinhaCPTMDestino,Lat_EstacaoOrigem,Long_EstacaoOrigem,Lat_EstacaoDestino,Long_EstacaoDestino
count,16871.000000,16871.000000,16871.000000,16871.000000,16871.000000,16871.000000,16871.000000,16871.000000,16870.000000,16871.000000,...,16871.000000,16871.000000,16871.000000,16871.000000,16871.000000,16871.000000,16871.000000,16871.000000,16871.000000,16871.000000
mean,8480.507083,9.426471,5.077292,18.679746,9.316401,52.006164,16.280422,96.282734,32.093894,1.393990,...,0.917610,0.721178,0.870488,0.087191,0.122399,9.404244,-23.548760,-46.624897,-23.553874,-46.620413
std,4890.746106,1.570522,0.937628,15.616990,5.240596,32.926517,14.001889,41.697516,11.362430,0.679279,...,0.344443,0.559152,0.376866,0.296466,0.329919,1.570155,0.085736,0.150070,0.086087,0.153048
min,1.000000,7.000000,3.000000,1.000000,1.000000,1.000000,1.000000,12.000000,12.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,-23.743504,-46.983755,-23.743504,-46.983755
25%,4251.500000,8.000000,5.000000,10.000000,5.000000,30.000000,8.000000,65.000000,23.000000,1.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,8.000000,-23.585523,-46.712288,-23.593453,-46.714866
50%,8480.000000,9.000000,5.000000,15.000000,10.000000,45.000000,15.000000,90.000000,30.000000,1.000000,...,1.000000,1.000000,1.000000,0.000000,0.000000,9.000000,-23.540227,-46.667516,-23.542318,-46.647353
75%,12719.500000,11.000000,6.000000,20.000000,10.000000,70.000000,20.000000,120.000000,39.000000,2.000000,...,1.000000,1.000000,1.000000,0.000000,0.000000,11.000000,-23.525414,-46.528294,-23.523849,-46.528294
max,16949.000000,12.000000,7.000000,180.000000,50.000000,200.000000,190.000000,352.000000,84.000000,5.000000,...,4.000000,4.000000,5.000000,4.000000,2.000000,12.000000,-23.195174,-46.184863,-23.195174,-46.184863

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16871 entries, 0 to 16870
Data columns (total 63 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   NumReg                      16871 non-null  int64
 1   DataHoraPesq                16871 non-null  object
 2   Linha                       16871 non-null  int64
 3   EstacaoOrigem               16871 non-null  object
 4   Sentido                     16871 non-null  object
 5   UsoPorSemana                16871 non-null  int64
 6   ModoOrigem                  16871 non-null  object
 7   LinhaOnibusOrigem           5086 non-null   object
 8   TipoOnibusAcesso            4494 non-null   object
 9   GrupoOnibusAcesso           4494 non-null   object
 10  TempoOrigem                 16871 non-null  int64
 11  FxTempoOrigem               16871 non-null  object
 12  TempoEsperaEstacao          16871 non-null  int64
 13  MotivoViagem                16871 non-null  object
 14  EstacaoDestino              16871 non-null  object
 15  UsaraMetro                  16871 non-null  object
 16  ModoDestino                 16871 non-null  object
 17  LinhaOnibusDestino          6787 non-null   object
 18  TipoOnibusDestino           5899 non-null   object
 19  GrupoOnibusDestino          5899 non-null   object
 20  TempoEmTrilhos              16871 non-null  int64
 21  TempoDestino                16871 non-null  int64
 22  FxTempoDestino              16871 non-null  object
 23  TempoTotalViagem            16871 non-null  int64
 24  FormaPagto                  16871 non-null  object
 25  Genero                      16871 non-null  object
 26  Idade                       16870 non-null  float64
 27  FaixaEtaria                 16870 non-null  object
 28  RendaPessoal                16871 non-null  object
 29  RendaFamiliar               16871 non-null  object
 30  Banheiro                    16871 non-null  int64
 31  EmprMensal                  16871 non-null  int64
 32  Automovel                   16871 non-null  int64
 33  Computador                  16871 non-null  int64
 34  LavaLouca                   16871 non-null  int64
 35  Geladeira                   16871 non-null  int64
 36  Freezer                     16871 non-null  int64
 37  LavaRoupa                   16871 non-null  int64
 38  DVD                         16871 non-null  int64
 39  Microondas                  16871 non-null  int64
 40  Motocicleta                 16871 non-null  int64
 41  Secad_Roupa                 16871 non-null  int64
 42  InstrChefeFamilia           16871 non-null  object
 43  AguaEncanada                16871 non-null  object
 44  RuaPavimentada              16871 non-null  object
 45  ClasseSocial                16871 non-null  object
 46  Entrevistado                16870 non-null  object
 47  Bairro                      16871 non-null  object
 48  TipoDia                     16871 non-null  object
 49  TipoDesembarque             16871 non-null  object
 50  LinhaCPTMDestino            16871 non-null  int64
 51  EstacaoCPTMDestino          16871 non-null  object
 52  ModoDifusaoCTPM             16871 non-null  object
 53  EstacaoOrigemSP             16871 non-null  object
 54  EstacaoDestinoSP            16871 non-null  object
 55  Lat_EstacaoOrigem           16871 non-null  float64
 56  Long_EstacaoOrigem          16871 non-null  float64
 57  Lat_EstacaoDestino          16871 non-null  float64
 58  Long_EstacaoDestino         16871 non-null  float64
 59  LatTableau_EstacaoOrigem    16871 non-null  object
 60  LongTableau_EstacaoOrigem   16871 non-null  object
 61  LatTableau_EstacaoDestino   16871 non-null  object
 62  LongTableau_EstacaoDestino  16871 non-null  object
dtypes: float64(5), int64(21), object(37)
memory usage: 8.1+ MB

In [ ]:
def fix_accents(text):
    try:
        return bytes(text, 'iso-8859-1').decode('utf-8')
    except UnicodeDecodeError:
        return text
    except TypeError:
        return text

In [25]:
filename = 'OD_index.csv'
result_data = pd.read_csv(source_folder_path + filename, encoding= 'unicode_escape', sep = ';')

In [26]:
result_data

,ID_ORDEM,distancia_calculada,tempo_calculado,cod_estacao,nome_estacao,linha_estacao,cod_linha,cod_modo_acesso,modo_acesso
0,3,614,489.0,13,Se,Vermelha_metro,3,1,a_pe
1,4,696,541.0,82,Faria Lima,Amarela_viaquatro,4,1,a_pe
2,14,590,477.0,12,Pedro II,Vermelha_metro,3,1,a_pe
3,15,538,421.0,46,Sao Joaquim,Azul_metro,1,1,a_pe
4,16,590,477.0,12,Pedro II,Vermelha_metro,3,1,a_pe
...,...,...,...,...,...,...,...,...,...
14365,182396,650,509.0,83,Pinheiros,Amarela_viaquatro,4,1,a_pe
14366,182453,920,719.0,10,Bresser-Mooca,Vermelha_metro,3,1,a_pe
14367,182639,45,33.0,29,Alto Do Ipiranga,Verde_metro,2,1,a_pe
14368,182824,134,102.0,17,Marechal Deodoro,Vermelha_metro,3,1,a_pe
14369,183008,831,662.0,18,Palmeiras-Barra Funda,Vermelha_metro,3,1,a_pe

In [34]:
result_data['modo_acesso'].unique()

array(['a_pe', 'onibus', 'motorizado_individual', 'bicicleta'],
      dtype=object)

In [44]:
for modo in result_data['modo_acesso'].unique():
    df_modo = result_data[result_data['modo_acesso'] == modo]
    print(f'modo {modo}'.format(modo = modo))
    perc = len(df_modo)/len(result_data)
    print(f'Percentage is {perc*100:.1f}%'.format(perc = perc))
    distance_mean = df_modo['distancia_calculada'].mean()
    print(f'Distance mean is {distance_mean}'.format(distance_mean = distance_mean))
    print()

modo a_pe
Percentage is 66.9%
Distance mean is 677.1675163874727

modo onibus
Percentage is 30.5%
Distance mean is 4238.443506048848

modo motorizado_individual
Percentage is 2.5%
Distance mean is 3194.4027397260274

modo bicicleta
Percentage is 0.1%
Distance mean is 2070.230769230769

In [46]:
len(result_data[result_data['modo_acesso'] == 'bicicleta'])

13

In [47]:
9611+4381+365+13

14370